body.editprofile-bg {
  margin: 0;
  background-color: #ffffff;
}

#idTopBg {
  background-color: #4f96be;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  margin: 0 0 24px;         
}

#idEditProfileTitle {
  margin: 0;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  text-align: start;        
}

#idMidBg {
  background-color: #e3e3e3;
  width: 100%;
  max-width: 800px;       
  margin: 0 auto;           
  padding: 32px 28px;
 
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#idUsername {
  margin: 0 0 10px;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 32px;
  text-align: center;
}

#idProfilePicEP {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

#idEditProfileForm {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;               
}

.tagsEP {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  color: black;
}


.midrow,
.fullrow {
  width: 100%;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  border: none;
  padding: 10px 12px;
  border-radius: 4px;
  box-sizing: border-box;
  background: #f4f4f4;
}


#idEditProfileForm .midrow:nth-child(odd),
#idEditProfileForm .midrow:nth-child(even) {
  display: block;
}

#idButtonConfirmar {
  margin-top: 10px;
  align-self: center;
  width: 30%;
  min-width: 160px;
  background-color: #102c54;
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
