body.iniciar-sesion-bg {
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, rgb(128, 206, 215) 0%, rgb(128, 206, 215) 60%, rgb(0, 126, 167) 60%, rgb(0, 126, 167) 100%);
}

#idWelcome{
    position: absolute;
    top: 50px;
    left: 420px;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 35px;
}

#idIniciar{
    position: absolute;
    top: 250px;
    right: 480px;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 34px;
}

#idImage{
    background-color: black;
    position: absolute;
    top: 150px;
    left: 300px;
    width: 600px;
    height: 750px;
    border: 1px solid #ccc;
    overflow:hidden;
}

#idImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#idIniciarSesion{
    max-width: 1000px;
    min-width: 600px;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #ccc;
    position: absolute;
    bottom: 250px;
    right: 90px;
    margin-bottom: 30px;
}

.first-form{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.first-forminput{
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#idForgotPassword{
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    padding: 0;

}

#idButtonIniciar{
    display: block;
    margin: 20px auto;
    width: 100%;
    background-color: #003249;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#idNoCuenta{
    position: absolute;
    right: 240px;
    bottom: 180px;
    margin-top: 20px;
    font-size: 16px;
}

#idNoCuenta a{
    color: blue; /* Change to any color you like */
    font-weight: bold; /* Optional: make it bold */
    text-decoration: underline; /* Optional: underline */
}

/* Nuevo estilo para la página de registro*/

body.registrar-bg {
  height: 100vh;
  margin: 0;
 background-color: #80ced7;
}

#idMidBg{
    background-color: #9ad1d4;
    position: absolute;
    top: 47px;
    right: 35px;
    width: 800px;
    height: 900px;
    border: 1px solid #007EA7; 
}

#idCreateAccount{
    position: absolute;
    top: 60px;
    right: 300px;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 32px;

}

#idRegistrar{
   max-width: 1000px;
    min-width: 700px;
    max-height: 1000px;
    min-height: 600px;
    margin: 20px auto;
    padding: 30px;
    position: absolute;
    top: 280px;
    right: 0px;
    margin-bottom: 30px;

}

.midrow{
    width: 37%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.fullrow{
    width: 95%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#idButtonRegistrar{
    display: block;
    margin: 0px auto;
    width: 15%;
    background-color: #003249;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;


}

/* Nuevo estilo para la front page*/

.frontpage-bg {
  height: 100vh;
  margin: 0;
  background-color: #9ad1d4;
}

#idFirstHeadline{
    position: absolute;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    letter-spacing: -3px;
    transform: scaleY(1.6);
    font-weight: bold;
    top: 130px;
    left: 770px;
}

#idSecondHeadline{
    position: absolute;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    letter-spacing: 15px;
    font-weight: lighter;
    top: 50px;
    left: 680px;
}

#idVS{
    position: absolute;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    top: 560px;
    left: 950px;
}

.brackets-container {
    position: absolute;
    top: 270px;
    left: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.brackets-quarter{
    background-color: #ccdbdc;
    height: 120px;
    width: 250px;
    margin-bottom: 50px;
}

.brackets-semi-container {
    position: absolute;
    top: 350px;
    left: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.brackets-semi {
    background-color: #ccdbdc;
    height: 120px;
    width: 250px;
    margin-bottom: 230px;
}

.brackets-final-container{
    position: absolute;
    top: 520px;
    left: 670px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.brackets-final{
    background-color: #ccdbdc;
    height: 120px;
    width: 250px;
}

.brackets-container-right {
    position: absolute;
    top: 270px;
    right: 100px; /* Adjust for your layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.brackets-semi-container-right {
    position: absolute;
    top: 350px;
    right: 380px; /* Adjust for your layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.brackets-final-container-right{
    position: absolute;
    top: 520px;
    right: 650px; /* Adjust for your layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bracket-label {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    color: #003249;
    left: 120px; /* Match the left of the container */
    top: 220px;  /* Adjust to be above the container */
    /* Add more styles as needed */
}

.bracket-label:nth-of-type(5) { /* Finals label */
    left: 770px;
    top: 470px;
}

.bracket-label:nth-of-type(3) { /* Semifinals label */
    left: 460px;
    top: 300px;
}

#quarterfinals-right-label {
    color: #003249;
    font-size: 22px;
    font-weight: bold;
    right: 170px; /* Match the right of the container */
    top: 220px;  /* Adjust to be above the container */
    position: absolute;
}

#semifinals-right-label {
    color: #003249;
    font-size: 22px;
    font-weight: bold;
    right: 450px; /* Match the right of the container */
    top: 300px;  /* Adjust to be above the container */
    position: absolute;
}

#finals-right-label {
    color: #003249;
    font-size: 22px;
    font-weight: bold;
    right: 740px; /* Match the right of the container */
    top: 470px;  /* Adjust to be above the container */
    position: absolute;
}

#idChampion{
    background-color: #ccdbdc;
    height: 150px;
    width: 280px;
    position: absolute;
    top: 300px;
    left: 830px;
}

#idChampionLabel {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    color: #003249;
    left: 910px; /* Match the left of the container */
    top: 250px;  /* Adjust to be above the container */
}

/* Nuevo estilo para la Mundial page*/

#idFirstHeadlineM{
    position: absolute;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    letter-spacing: -3px;
    transform: scaleY(1.6);
    font-weight: bold;
    top: 130px;
    left: 840px;
}

/* Nuevo estilo para la Noticias page*/

.noticiero-bg {
  height: 100vh;
  margin: 0;
  background-color: #ccdbdc;
}

#idBackgroundN{
    background-color: #9ad1d4;
    position: absolute;
    top: 100px;
    left: 220px;
    width: 1500px;
    height: 320px;
}

#idTextN{
    position: absolute;
    font-size: 80px;
    font-weight: bold;
    color: #003249;
    left: 300px; /* Match the left of the container */
    top: 100px;  /* Adjust to be above the container */
}

#idBackgroundN1{
    background-color: #80ced7;
    position: absolute;
    bottom: 100px;
    left: 240px;
    width: 700px;
    height: 350px;
}

#idTextN1{
    position: absolute;
    font-size: 45px;
    font-weight: bold;
    color: #003249;
    left: 240px; /* Match the left of the container */
    top: 130px;  /* Adjust to be above the container */
}

#idBackgroundN2{
    background-color: #80ced7;
    position: absolute;
    bottom: 100px;
    right: 210px;
    width: 700px;
    height: 350px;
}

#idTextN2{
    position: absolute;
    font-size: 45px;
    font-weight: bold;
    color: #003249;
    left: 240px; /* Match the left of the container */
    top: 130px;  /* Adjust to be above the container */
}

/* Nuevo estilo para la Noticias page*/

.parati-bg {
  height: 100vh;
  margin: 0;
  background-color: #ccdbdc;
}

#idParaTiContainer{
    background-color: #9ad1d4;
    position: absolute;
    width: 100%;
    height: 60px;
}

#idParaTiText{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: #003249;
    left: 70px; /* Match the left of the container */
    top: 9px;  /* Adjust to be above the container */
}

#idBallImage{
    position: absolute;
    top: 15px;
    left: 200px;
    width: 25px;
    height: 25px;
}

#idShareContainer{
    background-color: #80ced7;
    position: absolute;
    width: 750px;
    height: 180px;
    top: 135px;
    left: 300px;
    border-radius: 1%;
}

img#idProfilePictureParaTi{
    margin-top: 20px;
    margin-left: 10px ;
    width: 9%;
    height: 30%;
    border-radius: 50%;
}

#idShareInput{
    position: absolute;
    background-color: transparent;
    top: 15px;
    left: 90px;
    width: 600px;
    height: 110px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#idShareButton{
    position: absolute;
    bottom: 8px;
    right: 11px;
    background-color: #007EA7;
    color: white;
    padding: 9px 19px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#idPostContainer{
    background-color: #80ced7;
    position: absolute;
    width: 750px;
    height: 620px;
    top: 350px;
    left: 300px;
    border-radius: 1%;
}

#idPfpParaTi{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#idOtherProfile{
    position: absolute;
    top: 25px;
    left: 100px;
    font-size: 20px;
    font-weight: bold;
    color: #003249;
}

#idOtherPostText{
    position: absolute;
    top: 60px;
    left: 100px;
    width: 700px;
    height: 300px;
    font-size: 18px;

}

#idPostContainer2{
    position: absolute;
    width: 650px;
    height: 450px;
    top: 140px;
    left: 50px;
    border-radius: 1%;
}

#idOtherImagePost{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#idTagsContainer{
    background-color: #80ced7;
    position: absolute;
    top: 135px;
    right: 460px;
    width: 320px;
    height: 650px;
    font-size: 16px;
    border-radius: 1%;
}

#idHeaderTags{
    position: absolute;
    top: 20px;
    left: 80px;
    font-size: 22px;
    font-weight: bold;
    color: #003249;
}

#idTag{
    position: absolute;
    top: 100px;
    left: 20px;
    width: 280px;
    height: 40px;
    background-color: #9ad1d4;
    border-radius: 20px;
    text-align: center;
    line-height: 40px; /* Center text vertically */
    margin-bottom: 10px;
}

#idTag1{
    position: absolute;
    top: 160px;
    left: 20px;
    width: 280px;
    height: 40px;
    background-color: #9ad1d4;
    border-radius: 20px;
    text-align: center;
    line-height: 40px; /* Center text vertically */
    margin-bottom: 10px;
}

#idTagLabel{
    position: absolute;
    top: 80px;
    left: 110px;
    font-size: 14px;
    font-weight: lighter;
    color: #003249;
}
    
#idTag1Label{
    position: absolute;
    top: 140px;
    left: 85px;
    font-size: 14px;
    font-weight: lighter;
    color: #003249;
}

#idShareButton1{
    position: absolute;
    bottom: 70px;
    right: 500px;
    background-color: #007EA7;
    color: white;
    padding: 15px 25px;
    width: 250px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Nuevo estilo para la Liga Individual page*/

#idFirstHeadlineI{
    position: absolute;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    letter-spacing: -3px;
    transform: scaleY(1.6);
    font-weight: bold;
    top: 130px;
    left: 750px;
}